.homepage-hero {
    min-height: 85vh;
    padding-top: 180px;
    z-index: 3;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .hero-lead {
        z-index: 2;
        @include mq('desktop', 'min') {
            width: calc(55% - 20px);
        }
        h1 {
            font-family: 'marcinzogrodnik';
            color: $primaryColor;
            margin: 0;
            letter-spacing: -1px;

            @include mq('desktop', 'min') {
                font-size: 70px;
            }
        }

        p {
            margin: 40px 0 20px 0;
            font-size: 25px;
            font-weight: 100;
            color: #75778B;
        }

        .tech {
            display: inline-block;
            margin: 0;
            font-size: 13px;
            font-weight: 600;
            opacity: 0.8;
            margin-bottom: 10px;
            background: rgba(#FFE9AD, 0.3);
        }

        .logos {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                opacity: 0.5;
                transition: all .1s ease-in-out;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                    transform: translateY(-5px);
                }
            }
        }

        .cta {
            margin-top: 30px;
            margin-bottom: 50px;

            button {
                background: $secondaryColor;
                border: 0;
                border-radius: 4px;
                color: #fff;
                padding: 0.8rem 1.6rem;
                font-size: 23px;
                font-family: 'marcinzogrodnik';
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;

                svg {
                    width: 25px;
                    margin-left: 10px;
                    display: block;
                }

                &:hover {
                    background: $primaryColor;

                    svg {
                        transform: scale(0.95);
                    }
                }
            }
        }

        .contact {
            margin-top: 20px;
            display: flex;

            .item {
                margin-right: 40px;
                display: flex;
                align-items: center;
                svg {
                    width: 18px;
                    stroke: $grey;
                    margin-right: 10px;
                }

                a {
                    color: $grey;
                    text-decoration: none;

                    &:hover {
                        color: $secondaryColor;
                    }
                }
            }
        }
    }

    .hero-image {
        z-index: 2;
        @include mq('desktop', 'min') {
            width: calc(45% - 20px);
        }
        img {
            width: 100%;
            display: block;
        }
    }
}