.homepage-steps {

    .steps-lead {
        font-size: 18px;
        color: $grey;
        width: 43%;
    }

    h2 {
        font-size: 40px;
        letter-spacing: -1px;
    }

    .steps-container {
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .step {
            width: calc(30% - 20px);
            position: relative;
            height: auto;
            align-self:flex-start;

            &::before {
                content: '';
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                color: rgba($secondaryColor, 0.1);
                font-size: 250px;
                font-family: 'marcinzogrodnik';
                z-index: -1;
            }

            &:nth-child(1)::before {
                content: '1';
            }
            &:nth-child(2)::before {
                content: '2';
            }
            &:nth-child(3)::before {
                content: '3';
            }
            &:nth-child(4)::before {
                content: '4';
            }
            &:nth-child(5)::before {
                content: '5';
            }
            &:nth-child(6)::before {
                content: '6';
            }

            &:nth-child(2), &:nth-child(5) {
                margin-top: 50px;
            }

            &:nth-child(3), &:nth-child(6) {
                margin-top: 100px;
            }

            h3 {
                font-size: 33px;
                font-family: 'marcinzogrodnik';
                margin-bottom: 30px;
                letter-spacing: -1px;
            }

            p {
                color: $grey;
            }

            svg {
                width: 70px;
                stroke: $secondaryColor;
                position: absolute;
                right: 0;
                top: -30px;
                // opacity: 0.6;
            }
        }
    }
}