.top-new-post {
  display: none;
  background: $primaryColor;
  transition: all .2s ease-in-out;

  &.active {
    @include mq('tablet', 'min') {
      display: block;
    }
  }

  &:hover {
    background: $secondaryColor;
  }

  a {
    padding: .5rem;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: .8rem;

    svg {
      margin-left: 10px;
    }

    span {
      font-weight: 500;
      display: none;

      @include mq('tablet', 'min') {
        display: block;
      }
    }
  }
}

.header {
  position: sticky;
  top: 0px;
  transition: all 0.2s ease-in-out;
  background: $white;
  background-color: rgba(255,255,255,0.5);
  z-index: 100;
  padding: 20px 0;

  @include mq('tabletw', 'min') {
    padding: 0;
  }

  &.scroll {
    backdrop-filter: saturate(180%)blur(6px);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include mq('tablet', 'min') {
      width: 100%;
    }

    @include mq('desktop', 'min') {
      width: 1200px;
    }

    @include mq('wide', 'min') {
      width: 1480px;
      padding: 0 20px;
    }
  }

  .logo {
    display: flex;
    align-items: center;

    a {
      font-family: 'marcinzogrodnik';
      margin-left: 5px;
      font-size: 20px;
      color: $primaryColor;
      text-decoration: none;

      @include mq('tablet', 'min') {
        font-size: 23px;
        margin-left: 10px;
      }

      @include mq('desktop', 'min') {
        font-size: 27px;
      }
    }

    svg {
      width: 20px;
      margin-top: 5px;

      @include mq('tablet', 'min') {
        width: 25px;
      }

      @include mq('desktop', 'min') {
        width: 30px;
      }
    }
  }

  .navigation {
    position: absolute;
    background: $white;
    top: -20px;
    width: 100%;
    left: 0;
    min-height: calc(100vh + 20px);
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
    padding-top: 7rem;

    @include mq('tablet', 'min') {
      top: -54px;
    }

    @include mq('tabletw', 'min') {
      position: relative;
      min-height: auto;
      left: initial;
      top: initial;
      visibility: visible;
      opacity: 1;
      padding-top: initial;
      width: auto;
    }

    &.is-active {
      opacity: 1;
      visibility: visible;
    }

    ul {
      padding: 0 30px;
      width: 100%;

      @include mq('desktop', 'min') {
        width: initial;
      }

      li {
        display: block;

        @include mq('tabletw', 'min') {
          display: inline-block;
          padding: 0 .4rem;
        }

        a {
          display: block;
          text-decoration: none;
          color: $primaryColor;
          transition: all .1s ease-in-out;
          border-top: 2px solid transparent;
          font-size: 1.2rem;
          padding: 0.5rem 0;

          @include mq('tabletw', 'min') {
            font-size: 1rem;
            padding: 1rem 0.5rem;
          }

          @include mq('wide', 'min') {
            padding: 1.5rem 1rem;
          }

          &:hover {
            color: $secondaryColor;
          }

          &.active {
            color: $secondaryColor;
            @include mq('tabletw', 'min') {
              border-top: 2px solid $secondaryColor;
            }
          }

          &.offer {
            svg {
              display: none;
            }
          }

          svg {
            width: 16px;
            margin-left: 5px;
          }
        }

        &.mobile-only {
          @include mq('tabletw', 'min') {
            display: none;
          }

          a {
            display: flex;
            align-items: center;
            svg {
              margin: 0 10px 0 0;
              width: 24px;
            }
          }
        }

        &.subnav {
          span {
            padding: 1.8rem 1rem;
            display: flex;
            align-items: center;
            color: $primaryColor;
            border-top: 2px solid transparent;
            cursor: pointer;

            &:hover {
              color: $secondaryColor;
            }
          }

          svg {
            width: 20px;
            margin-top: 5px;
            margin-left: 10px;
          }

          .sub {
            display: none;
          }
        }
      }
    }
  }

  .mobile-wrapper {
    .header-contact {
      display: flex;
      align-items: center;
      display: none;

      @include mq('tabletw', 'min') {
        display: block;
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $primaryColor;
        border-top: 2px solid transparent;
        transition: all .1s ease-in-out;

        @include mq('tabletw', 'min') {
          font-size: 1rem;
          padding: 1rem 0.5rem;
        }

        @include mq('wide', 'min') {
          padding: 1.5rem 1rem;
        }

        &:hover {
          color: $secondaryColor;
        }

        &.active {
          color: $secondaryColor;
          border-color: $secondaryColor;
        }
      }

      svg {
        width: 20px;
        margin-left: 10px;
      }
    }

    .hamburger {
      z-index: 1000;
      @include mq('tabletw', 'min') {
        display: none;
      }
    }
  }
}