.contact {

  .container {
    max-width: 768px;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .item {
      width: 100%;
      border: 1px solid darken($thirdColor, 4%);
      box-shadow: 0 8px 30px rgba(0,0,0,0.12);
      padding: 20px;
      text-align: center;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;

      svg {
        max-width: 30px;
      }

      a {
        font-size: rem(16);
        color: $secondaryColor;
        text-decoration: none;
        margin-top: 20px;
      }
    }
  }

  &__content {
    form {
      margin-top: 30px;
      // background: $thirdColor;
      padding: 20px;
      border-radius: 8px;
      border: 1px solid darken($thirdColor, 4%);
      box-shadow: 0 8px 30px rgba(0,0,0,0.12);

      .half {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include mq('tablet', 'min') {
          flex-direction: row;
        }

        .contact-form-item {
          width: 100%;

          @include mq('tablet', 'min') {
            width: calc(50% - 20px);
          }
        }
      }

      .contact-form-item {
        label {
          display: block;
          margin-bottom: 10px;

        }

        input {
          width: 100%;
          margin-bottom: 30px;
          border-radius: 5px;
          min-height: 40px;
          text-indent: 10px;
          border: none;
          appearance: none;
          font-size: rem(16);
          color: $primaryColor;
          border: 1px solid darken($thirdColor, 4%);

          &::placeholder {
            font-size: rem(16);
          }
        }

        textarea {
          width: 100%;
          border: 1px solid darken($thirdColor, 4%);
          appearance: none;
          border-radius: 5px;
          resize: none;
          padding: 15px;
          font-size: rem(16);
          min-height: 200px;
          color: $primaryColor;
        }
      }

      .btn {
        margin-top: 30px;
        border: none;
      }
    }
  }
}