.contact {

  &-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include mq('650', 'min') {
      flex-direction: row;
    }
  }

  &-form {
    width: 100%;

    @include mq('650', 'min') {
      width: calc(50% - 30px);
    }

    &-item {
      margin-bottom: 1.5rem;

      label {
        font-weight: 500;
        display: block;
        margin-bottom: 0.5rem;
      }

      input {
        width: 100%;
        min-height: 40px;
        border: 1px solid #eaeaea;
        border-radius: 10px;
        text-indent: 10px;
        box-shadow: 0 6px 24px 0 rgba(44, 39, 56, 0.04), 24px 24px 48px 0 rgba(44, 39, 56, 0.08);
        font-family: inherit;
        appearance: none;
      }

      textarea {
        width: 100%;
        resize: none;
        min-height: 200px;
        box-shadow: 0 6px 24px 0 rgba(44, 39, 56, 0.04), 24px 24px 48px 0 rgba(44, 39, 56, 0.08);
        padding: 10px;
        border: 1px solid #eaeaea;
        border-radius: 10px;
        font-family: inherit;
        appearance: none;
      }
    }

    button {
      background: $secondaryColor;
      color: $white;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      font-weight: 500;
      border: none;
      font-family: inherit;
      cursor: pointer;

      &:hover {
        background: $secondaryColor;
        color: $white;
        box-shadow: 0 6px 24px 0 rgba(44, 39, 56, 0.04), 24px 24px 48px 0 rgba(44, 39, 56, 0.08);
        background: darken($secondaryColor, 20%);
      }
    }
  }

  &-text {
    width: 100%;

    @include mq('650', 'min') {
      width: calc(50% - 30px);
    }

    .lead {
      font-weight: 500;
    }

    a {
      margin-bottom: 1.5rem;
      margin-top: 0.3rem;
      display: inline-block;
      text-decoration: none;
      color: $secondaryColor;
    }
  }
}