.footer {
  background: #fafafa;
  padding: 30px 0;
  margin-top: 50px;

  &-logo {
    margin: 0 auto;

    a {
      font-family: "marcinzogrodnik";
      font-size: 1.4rem;
      color: $primaryColor;
      text-decoration: none;
      line-height: 0;
      display: flex;
      align-items: center;

      svg {
        width: 30px;
      }

      span {
        display: block;
          margin-left: 10px;
      }
    }
  }

  &-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include mq('tablet', 'min') {
      flex-direction: row;
    }


    &-item {
      margin-top: 20px;

      p {
        font-size: rem(14);
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        svg {
          width: 22px;
          margin-right: 10px;
        }

        a {
          font-size: rem(14);
          color: $primaryColor;
          text-decoration: none;

          &:hover {
            color: $secondaryColor;
          }
        }
      }

      ul {
        list-style: none;

        li {
          a {
            font-size: rem(14);
            color: $primaryColor;
            text-decoration: none;

            &:hover {
              color: $secondaryColor;
            }
          }
        }
      }
    }
  }
}