.footer {
  background: #f3f3f3;
  padding: 30px 0;
  margin-top: 50px;

  .copy {
    color: $black;
    font-size: 14px;
    margin-top: 30px;

    @include mq('tablet', 'min') {
      text-align: center;
      margin-top: 0;
    }

    a {
      color: $black;

    }
  }

  &-info {

    @include mq('tablet', 'min') {
      display: flex;
      justify-content: space-between;
    }

    &-item {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          a {
            color: $black;
            padding: 10px 0;
            display: block;
            font-size: 18px;
            text-decoration: none;

            @include mq('tablet', 'min') {
              font-size: 15px;
            }

            @include mq('tablet', 'min') {
              padding: 5px 0;
            }
          }
        }
      }
    }

    p {
      margin: 30px 0;
      display: flex;
      align-items: center;

      @include mq('tablet', 'min') {
        margin: 0;
      }

      svg {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        stroke: $black;

        @include mq('tablet', 'min') {
          width: 20px;
          height: 20px;
        }
      }

      a {
        color: $black;

        @include mq('tablet', 'min') {
          font-size: 15px;
          padding: 5px 0;
        }
      }
    }
  }
}