@import url("//hello.myfonts.net/count/3c1b3a");
@font-face {
  font-family: 'marcinzogrodnik';
  src: url('../fonts/font.woff2') format('woff2'),
  url('../fonts/font.woff') format('woff');
  font-display: swap;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol{
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  font-family: "Poppins", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
    BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  color: $primaryColor;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  &.overflow {
    overflow: hidden;
  }
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  width: 100%;
  padding: 0 15px;

  @include mq("tablet", min) {
    width: 755px;
    padding: 0 20px;
    margin: 0 auto;
  }

  @include mq("tabletw", min) {
    width: 980px;
  }

  @include mq("desktop", min) {
    width: 1180px;
  }
}

.terms {
  margin-bottom: 2rem;
  list-style-type: decimal !important;

  li {
    margin-bottom: 0.8rem;

    strong {
      font-weight: 500;
    }

    ul {
      margin-top: 0.8rem;
      margin-left: 1rem;
      list-style-type: disc !important;
    }
  }
}