@import url("//hello.myfonts.net/count/3c1b3a");
@font-face {
  font-family: 'marcinzogrodnik';
  src: url('../fonts/font.woff2') format('woff2'),
  url('../fonts/font.woff') format('woff');
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol{
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


/* Set core body defaults */
body {
  font-family: 'Montserrat', sans-serif;
  // font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  color: $primaryColor;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  position: relative;
  overflow-x: hidden;
  margin-top: 90px;

  @include mq('desktop', 'min') {
    margin-top: 110px;
  }

  &.overflow {
    overflow: hidden;
  }
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}


/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.container {
  width: 100%;
  padding: 0 15px;

  @include mq("tablet", min) {
    width: 755px;
    padding: 0 20px;
    margin: 0 auto;
  }

  @include mq("tabletw", min) {
    width: 980px;
  }

  @include mq("desktop", min) {
    width: 1180px;
  }
}

.free-quote {
  display: none;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 100;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  @include mq('tablet', 'min') {
    position: fixed;
    display: block;
  }

  &:hover {
    background: $primaryColor;

    .image {
      svg {
        fill: #fff;
      }
    }

    a {
      color: #fff;
    }
  }

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    padding: 40px 30px;
    color: $secondaryColor;
  }

  .image {
    margin-bottom: 10px;
    svg {
      margin-right: 20px;
      width: 60px;
      fill: $primaryColor;
    }
  }

  h2 {
    font-size: rem(16);
    font-weight: 500;
  }
}

.deckgo-highlight-code-carbon {
  font-size: rem(16) !important;
  margin: 40px 0;
}

blockquote {
  border: 1px solid rgba($secondaryColor, 0.3);
  margin: 50px 0 30px 0;
  padding: 20px;
  border-radius: 10px;
  position: relative;

  @include mq('desktop') {
    margin: 60px -20px 20px -20px;
  }

  &::before {
    content: 'WAŻNE';
    position: absolute;
    top: -25px;
    left: 0;
    font-size: rem(11);
    font-weight: 600;
    color: $secondaryColor;
  }

  p {
    margin-top: 0 !important;
    font-weight: 500;
  }
}

.hr {
  margin: 30px 0 30px 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba($secondaryColor, 0), rgba($secondaryColor, 0.75), rgba($secondaryColor, 0));
}

.markdown-image {
  .gatsby-resp-image-wrapper {
    margin-left: 0 !important;
  }
}