// @import url("//hello.myfonts.net/count/3c1b3a");
// @font-face {
//   font-family: 'marcinzogrodnik';
//   src: url('../fonts/font.woff2') format('woff2'),
//   url('../fonts/font.woff') format('woff');
//   font-display: swap;
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol{
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
}


/* Set core body defaults */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: $primaryColor;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizelegibility;
  line-height: 1.8;
  position: relative;
  overflow-x: hidden;

  &.overflow {
    overflow: hidden;
  }
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}


/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.container {
  width: 100%;
  padding: 0 15px;

  @include mq("tablet", min) {
    width: 755px;
    padding: 0 20px;
    margin: 0 auto;
  }

  @include mq("tabletw", min) {
    width: 980px;
  }

  @include mq("desktop", min) {
    width: 1180px;
  }
}

.free-quote {
  display: none;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 100;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  @include mq('tablet', 'min') {
    position: fixed;
    display: block;
  }

  &:hover {
    background: $primaryColor;

    .image {
      svg {
        fill: #fff;
      }
    }

    a {
      color: #fff;
    }
  }

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    padding: 40px 30px;
    color: $secondaryColor;
  }

  .image {
    margin-bottom: 10px;
    svg {
      margin-right: 20px;
      width: 60px;
      fill: $primaryColor;
    }
  }

  h2 {
    font-size: rem(16);
    font-weight: 500;
  }
}

.deckgo-highlight-code-carbon {
  margin: 40px 0;
  font-size: rem(19) !important;
  font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono, Bitstream Vera Sans Mono;

  .deckgo-highlight-code-container {
    font-family: 'Roboto Mono', monospace !important;
  }
}

blockquote {
  border: 1px dashed rgba($secondaryColor, 0.3);
  margin: 30px 0 30px 0;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  @include mq('desktop') {
    margin: 20px -20px 20px 0;
  }

  p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-weight: 500;
  }
}

.hr {
  margin: 30px 0 30px 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba($secondaryColor, 0), rgba($secondaryColor, 0.75), rgba($secondaryColor, 0));
}

.markdown-image {
  @include mq('desktop') {
    margin: 40px 0;
  }
  .gatsby-resp-image-wrapper {
    margin-left: 0 !important;
  }
}

.custom-text-selection::selection {
  background: deeppink;
  color: white;
}

code {
  font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono, Bitstream Vera Sans Mono,Courier New,monospace,serif;
  color: $secondaryColor;
  font-size: 0.875em;
  white-space: pre-wrap;

  &::before, &::after {
    content: "`";
  }
}

.web {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 65vw;
    height: 70vh;
    clip-path: polygon(100% 0%, 0% 0%, 0% 60%, 100% 100%);
    background: $thirdColor;
    z-index: -1;
  }
}

::selection {
  background: $primaryColor;
  color: $white;
}

.cta-box {
  background: $thirdColor;
  border: 1px dashed darken($thirdColor, 3%);
  margin: 50px 0;
  padding: 30px 0;

  svg {
    width: 100px;
    margin: 0 auto;
    display: block;
  }

  h2 {
    text-align: center;
  }

  p {
    text-align: center;

    span {
      display: block;
    }
  }

  .more {
    text-align: center;
    margin-top: 20px;

    a {
      padding: 8px 20px;
      background: $secondaryColor;
      border-radius: 8px;
      color: $white;
      text-decoration: none;
      line-height: 1;
      font-weight: 500;
    }
  }
}

.CookieConsent {
  a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
  }
}