header {
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(0);
  transition: all 0.1s ease;
  z-index: 100;

  @include mq("650", max) {
    padding: 1rem 0;
  }

  &.scroll {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.05), 0 10px 10px -5px rgba(0, 0, 0, 0.01);
    background: #fff;
    padding: 1rem 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;

    svg {
      width: 30px;
      margin-right: 20px;
      transition: all .2s ease-in-out;

      @include mq('tabletw', 'min') {
        opacity: 0.8;
      }
    }

    &:hover {
      svg {
        opacity: 1;
        transform: translateX(5px);
      }
    }

    a {
      display: none;
      font-size: 23px;
      font-family: 'marcinzogrodnik';
      color: $primaryColor;
      text-decoration: none;

      @include mq('tabletw', min) {
        font-size: 30px;
        display: block;
      }

      span {
        color: $secondaryColor;
      }
    }

    @include mq("650", max) {
      height: 27px;
    }
  }

  .navigation {
    position: absolute;
    right: -100%;
    top: 59px;
    background: #fafafa;
    padding: 0 1rem;

    &.is-active {
      right: 0;
    }

    @include mq("650", min) {
      position: relative;
      right: initial;
      top: initial;
      background: none !important;
      padding: 0;
    }

    ul {
      list-style: none;


      li {
        display: inline-block;

        @include mq("650", max) {
          display: block;
          margin: 1rem 0;
        }



        &.mobile-only {
          span {
            color: $secondaryColor;
          }

          @include mq("650", min) {
            display: none;
          }
        }

        a,
        span {
          font-weight: 500;
          color: $primaryColor;
          text-decoration: none;
          font-size: 15px;
          padding: 1rem 3rem;
          cursor: pointer;
          display: flex;

          @include mq("650", max) {
            padding: 0;
          }

          .icon {
            margin-left: 5px;
            margin-top: 2px;
            svg {
              width: 15px;
            }
          }

          &:hover {
            color: $secondaryColor;
          }
        }

        &.subnav {
          position: relative;

          .main-svg {
            svg {
              width: 30px;
            }
          }

          &:hover {
            .sub {
              opacity: 1;
              visibility: visible;
              left: 40%;

              @include mq("650", max) {
                left: 0;
              }
            }
          }

          .sub {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s ease-in-out;
            background: #fff;

            @include mq("650", max) {
              position: relative;
              opacity: 1;
              visibility: visible;
              top: initial;
              left: initial;
              transform: initial;
              background: none;
            }

            ul {
              margin: 15px 0 0 0;
              padding: 0.5rem 0;
              // border: 1px solid $lightgray;
              box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
              border-radius: 4px;

              @include mq("650", max) {
                margin: 0;
                padding: 0;
                border: 0;
                box-shadow: none;
                border-radius: 0;
              }

              li {
                display: block;
                white-space: nowrap;
                padding: 0;
                opacity: 1;

                @include mq("650", max) {
                  margin: 1rem 0;
                }

                a {
                  color: $primaryColor;
                  text-decoration: none;
                  font-weight: 400;
                  font-size: 14px;
                  position: relative;
                  display: block;
                  padding: 0.2rem 1rem;
                  display: flex;
                  align-items: center;

                  @include mq("650", max) {
                    padding: 0 1rem;
                  }

                  .icon {
                    display: inline-block;
                    margin-right: 15px;
                    margin-top: 7px;

                    @include mq("650", max) {
                      display: none;
                    }
                    svg {
                      height: 20px;
                    }
                  }

                  &:hover {
                    // background: $lightgray;

                    &::before {
                      opacity: 1;
                    }
                  }

                  &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 5px;
                    height: 100%;
                    background-color: $secondaryColor;
                    opacity: 0;

                    @include mq("650", max) {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .header-contact {
    a {
      background: $secondaryColor;
      color: #fff;
      text-decoration: none;
      padding: 0.5rem 1rem;
      font-size: 15px;
      border-radius: 4px;
      border: 1px solid transparent;
      font-weight: 600;

      @include mq("650", max) {
        padding: 0.23rem 0.5rem;
        margin-right: 10px;
      }

      @include mq('tablet', 'min') {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      svg {
        display: none;
        @include mq('tablet', 'min') {
          display: block;
          width: 25px;
          margin-left: 10px;
        }
      }

      &:hover {
        background: #fff;
        color: $secondaryColor;
        border-color: $secondaryColor;
      }
    }
  }

  .mobile-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    height: 20px;
    @include mq("650", min) {
      display: none;
    }
  }
}
