.btn {
    &-primary {
        background: $secondaryColor;
        color: #fff;
        font-family: 'marcinzogrodnik';
        font-size: 18px;
        display: inline-block;
        text-decoration: none;
        padding: .25rem 1rem;
        border-radius: 5px;

        &:hover {
            background: $primaryColor;
        }
    }
}