.hero {
  padding: 100px 0 100px 0;

  h1 {
    font-size: 65px;
    line-height: 75px;
    font-weight: 700;
    color: $primaryColor;
    font-family: 'marcinzogrodnik';
    text-align: center;
  }

  p {
    font-size: 50px;
    line-height: 1em;
    color: $primaryColor;
    padding-top: 15px;
    font-family: 'marcinzogrodnik';
    opacity: 0.95;

    a {
      color: $secondaryColor;
      position: relative;
      transition: all .1s ease-in-out;

      &:hover {
       opacity: 1;
       color: darken($secondaryColor, 10%);
      }
    }
  }
}
