.hero {
  padding: 20px 0;

  @include mq('tablet', min) {
    padding: 50px 0;
  }

  @include mq('desktop', min) {
    padding: 100px 0 100px 0;
  }

  h1 {
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    color: $primaryColor;
    font-family: 'marcinzogrodnik';
    text-align: center;

    @include mq('tablet', min) {
      font-size: 40px;
    }

    @include mq('desktop', min) {
      font-size: 65px;
    }
  }

  p {
    font-size: 50px;
    line-height: 1em;
    color: $primaryColor;
    padding-top: 15px;
    font-family: 'marcinzogrodnik';
    opacity: 0.95;

    a {
      color: $secondaryColor;
      position: relative;
      transition: all .1s ease-in-out;

      &:hover {
       opacity: 1;
       color: darken($secondaryColor, 10%);
      }
    }
  }
}
