.hero {
  min-height: 60vh;
  display: flex;
  align-items: center;

  h1 {
    font-size: 35px;
    margin-bottom: 20px;

    @include mq('tablet', 'min') {
      font-size: 45px;
      text-align: center;
      width: 76%;
      margin: 0 auto 40px auto;
    }

    @include mq('desktop', 'min') {
      font-size: 70px;
    }

    span {
      color: $primary;
    }
  }

  &_lead {
    font-size: 18px;
    margin-bottom: 20px;

    @include mq('tablet', 'min') {
      text-align: center;
      margin-bottom: 40px;

      span {
        display: block;
      }
    }
  }

  &_more {
    @include mq('tablet', 'min') {
      text-align: center;
    }
    a {
      @include btn($primary);
    }
  }
}