.homepage {

  h2 {
    font-size: 1.30rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5rem;
  }

  &__hero {
    &-text {
      position: relative;

      &-top {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: .95rem;
        margin-bottom: 15px;
      }

      svg {
        position: absolute;
        top: -10px;
        right: 30%;
      }

      .red {
        top: auto;
        position: absolute;
        right: 20px;
        bottom: 90px;
      }

      &-lead {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;

        strong {
          font-weight: 600;
          color: $secondaryColor;
        }
      }

      h1 {
        font-family: 'Montserrat', sans-serif;
        line-height: 1.2;
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 1.65rem;

        span {
          display: block;
          font-weight: inherit;

          &.highlight {
            display: inline-block;
            color: $secondaryColor;
          }
        }
      }

      &-cta {
        margin: 30px 0;
        display: flex;
        align-items: center;

        a {
          &:nth-child(2) {
            color: $secondaryColor;
            text-decoration: none;
            font-weight: 600;
            margin-left: 40px;
            font-family: 'Montserrat', sans-serif;
          }
        }
      }
    }

    &-image {
      max-width: 85%;
      margin: auto;
    }

  }

  &__offer {
    margin-top: 40px;
    background: $primaryColor;
    padding: 40px 0;
    position: relative;
    margin-bottom: 30px;

    .offer-after {
      position: absolute;
      top: calc(100% - 1px);
      fill: $primaryColor;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 50px;
      }

      h2 {
        color: #fff;
      }

      p {
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 1rem;
      }
    }

    &-steps {
      h2 {
        color: #fff;
      }

      &-item {
        margin-top: 1rem;
        &-header {
          display: flex;
          align-items: center;
          margin-bottom: .5rem;

          svg {
            width: 40px;
          }

          h3 {
            color: #fff;
            margin-left: 20px;
            font-family: 'Montserrat', sans-serif;
          }
        }

        p {
          color: #fff;
          font-family: 'Montserrat', sans-serif;
        }
      }
    }
  }

  &__faq {
    padding-top: 30px;

    h3 {
      font-size: 1.05rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      margin-top: 1.5rem;

      span {
        color: $secondaryColor;
      }
    }

    p {
      font-family: 'Montserrat', sans-serif;
      margin-top: 1rem;
    }
  }
}
