.homepage {



  // hero
  &_hero {
    padding: 70px 0;

    h1 {
      font-family: 'marcinzogrodnik';
      font-size: rem(55);
      line-height: 1.2;

      span {
        display: block;
      }
    }

    &_lead {
      margin-top: 30px;
      font-size: 20px;

      span {
        display: block;
      }
    }
  }
}
