.offer {
    padding: 50px 0;
    background: #FAFAFA;
    position: relative;

    @include mq('tablet', 'min') {
        padding: 50px 0 50px 0;
    }

    h2 {
    color: $secondaryColor;

    @include mq('tablet', 'min') {
        margin-bottom: 3rem;
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-box {
    color: $primaryColor;
    text-decoration: none;
    margin-bottom: 2rem;
    width: 100%;
    position: relative;
    margin-top: 1rem;

    @include mq('tablet', min) {
      width: calc(33.33%);
      padding: 30px;
      margin-bottom: 0;
      margin-top: 0;
    }

    h3 {
      font-weight: 600;
      margin-bottom: 1rem;
      font-size: 22px;
      font-family: 'marcinzogrodnik';
      color: $primaryColor;

      @include mq('tablet', 'min') {
          font-size: 30px;
      }
    }

    p {
      font-size: 18px;
      color: $primaryColor;
    }

    .icon {
      svg {
        width: 50px;
        margin-bottom: 15px;
        stroke: $secondaryColor;
      }
    }

    .more {
      position: absolute;
      right: 10px;
      top: 35px;
      opacity: 0;
      transition: all 0.2s ease-in;
      font-size: 50px;
      border-radius: 4px;
      padding: 3px 10px;
      color: $secondaryColor;
    }

    &:hover {
      background: $secondaryColor;

      svg {
        stroke: #fff;
      }

      h3,
      p {
        color: #fff;
      }

      .more {
        opacity: 1;
        right: 20px;
        color: #fff;
      }
    }
  }
}

// offer page
.offer-page {
  position: relative;

  .content {
    max-width: 850px;
    margin: 0 auto;
  }

  p {
    color: $primaryColor;
    margin-bottom: 1.3rem;
    font-size: 18px;
    line-height: 1.5;

    a {
      color: $secondaryColor;
      border-bottom: 1px dotted $secondaryColor;

      &:hover {
        background: rgba($secondaryColor, 0.1);
      }
    }
  }

  h2 {
    color: $secondaryColor;
    font-family: 'marcinzogrodnik';
    margin-bottom: 2rem;
    font-size: 45px;

    &:not(:first-child) {
      margin-top: 2rem;
    }

    @include mq('desktop', min) {
      margin-left: -50px;
    }
  }
}
