.offer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;

  @include mq('tablet', 'min') {
    flex-direction: row;
  }

  .item {
    width: 100%;
    background: #edf2f7;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 6px 24px 0 rgba(44, 39, 56, 0.04),
      24px 24px 48px 0 rgba(7, 5, 9, 0.05);

    @include mq("tablet", "min") {
      width: calc(50% - 20px);
      padding: 4rem;
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }

    &-cta {
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;

      @include mq('tablet', 'min') {
        margin-top: 2rem;
      }

      a {
        background: $secondaryColor;
        align-items: center;
        text-decoration: none;
        color: $white;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        font-weight: 500;

        &:hover {
          background: darken($secondaryColor, 20%);
        }
      }
    }

    svg {
      width: 70px;
      margin: 1rem auto;

      @include mq('tablet', 'min') {
        width: 100px;
        margin: 2rem auto;
      }
    }

    h2 {
      // text-align: center;
      font-weight: 600;
      text-decoration: none;
      color: $primaryColor;
      margin-bottom: 1rem;
      font-family: "marcinzogrodnik";
      font-size: 1.8rem;
      line-height: 1;
      letter-spacing: -1px;
      margin-bottom: 0;

      @include mq("desktop", "min") {
        font-size: 2.4rem;
      }
    }
  }
}
