.page {
  margin-bottom: 3rem;
  .container {
    max-width: 900px;
  }

  .btn {
    color: $primaryColor;
      text-decoration: none;
      display: inline-block;
      position: relative;
      font-weight: 500;

      &:hover {
        &::before {
          width: 100%;
        }
      }

      &::before {
        transition: all .2s ease-in-out;
        z-index: -1;
        left: 0;
        content: '';
        top: 80%;
        width: 70%;
        height: 4px;
        background: rgba($primaryColor, 0.3);
        position: absolute;
      }
  }

  .content {
    h2 {
      font-size: 1.6rem;
      margin-bottom: 2rem;
      line-height: 1;
      font-family: 'Montserrat';
      text-transform: uppercase;
      font-style: italic;
      letter-spacing: 0.5px;
      font-weight: 900;

      @include mq("tabletw", "min") {
        font-size: 2rem;
      }

      &:not(:first-child) {
        margin: 2rem 0 2rem 0;
      }
    }

    h3 {
      margin-bottom: 1rem;
      font-family: 'Montserrat';
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: 900;
      font-style: italic;
      letter-spacing: 0.5px;

      @include mq("tabletw", "min") {
        font-size: 1.6rem;
        margin: 2rem 0 1rem 0;
      }
    }

    p {
      line-height: 1.6;
      font-size: 1rem;
      margin-bottom: 1rem;

      @include mq('tablet', 'min') {
        white-space: break-spaces;
      }

      strong {
        font-weight: 500;
        display: inline-block;
        position: relative;
        line-height: 1;
        border-bottom: 1px solid rgba($primaryColor, 0.6);
      }
    }

    a {
      color: $secondaryColor;
      text-decoration: none;
      display: inline-block;
      position: relative;
      font-weight: 500;
      border-bottom: 1px dashed $secondaryColor;
      line-height: 1;
      padding: 3px 0;

      &:hover {
        border-bottom: 1px solid $secondaryColor;
        background: rgba($secondaryColor, 0.2);
      }
    }

    .split {
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      @include mq('tablet', 'min') {
        flex-direction: row;
        align-items: center;
        margin-bottom: 4rem;
      }

      h2 {
        width: 100%;
        margin-bottom: 1rem;
        letter-spacing: -1px;

        @include mq('tablet', 'min') {
          margin-bottom: 2rem;
        }
      }

      .image {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mq('tablet', 'min') {
          width: calc(20% - 20px);
        }

        svg {
          width: 50%;
          margin-bottom: 1rem;
          opacity: 0.7;

          @include mq('tablet', 'min') {
            margin-bottom: 0;
            width: 70%;
          }
        }
      }

      .text {
        width: 100%;

        @include mq('tablet', 'min') {
          width: calc(80% - 20px);
        }
      }
    }
  }
}
