.post {
  &:not(:last-child) {
    margin-bottom: 50px;
  }

  @include mq('tablet', 'min') {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-image {
    margin-bottom: 30px;

    @include mq('tablet', 'min') {
      width: calc(50% - 30px);
      margin-bottom: 0;
    }
  }

  &-content {
    @include mq('tablet', 'min') {
      width: calc(50% - 30px);
    }

    h2 {
      border-left: 5px solid $primary;
      padding-left: 20px;
      a {
        color: $black;
        text-decoration: none;
      }
    }
  }

  &-date {
    font-size: 14px;
  }

  &-more {
    a {
      @include btn($primary, true);

      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
}

.article {

  .container {
    @include mq('tabletw', 'min') {
      width: 992px;
    }
  }

  &__content {

    &-header {
      @include mq('desktop', 'min') {
        margin: 0 -100px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
      }

      h1 {
        @include mq('desktop', 'min') {
          width: calc(50% - 30px);
          border-left: 10px solid $primary;
          padding-left: 20px;
        }
      }
    }

    &-image {
      margin-bottom: 30px;

      @include mq('tablet', 'min') {
        width: calc(50% - 30px);
        margin: 40px auto;
        display: block;
      }
    }

    &-info {
      p {
        font-size: 14px;
      }

      @include mq('tablet', 'min') {
        text-align: center;
      }

      .breadcrumb {
        list-style: none;
        padding: 0;
        margin: 20px 0 20px 10px;

        @include mq('tablet', 'min') {
          margin: 0 0 20px 0;
        }

        li {
          position: relative;
          z-index: -1 !important;

          @include mq('tablet', 'min') {
            display: inline-block;
            margin-right: 20px;

            &:first-child {
              &::before {
                display: none;
              }
            }
          }

          &::before {
            content: "-";
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1 !important;

            @include mq('tablet', 'min') {
              content: "/";
              left: -12px;
            }
          }

          a {
            color: $black;
            font-weight: 600;

            @include mq('tablet', 'min') {
              font-weight: 400;
            }
          }

          color: $primary;
          font-weight: 600;

          @include mq('tablet', 'min') {
            font-weight: 400;
          }
        }
      }
    }

    &-toc {
      background: rgba($primary, 0.05);
      padding: 20px;
      border-radius: 5px;
      margin-top: 50px;

      p {
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          font-size: 17px;
          border-left: 5px solid $primary;
          padding-left: 15px;
          margin-bottom: 10px;
          font-weight: 500;
        }
      }
    }

    &-text {
      @include mq('tablet', 'min') {
        margin-top: 50px;
        // @include bs;
        // padding: 30px;
        // border-radius: 10px;
      }

      .gatsby-resp-image-wrapper {
        @include bs;
        border-radius: 10px;
        margin-top: 30px;

        @include mq('tablet', 'min') {
          margin-bottom: 40px;
        }

        img {
          border-radius: 10px;
        }
      }

      p {
        font-size: 18px;
        line-height: 1.4;

        &:first-child {
          font-size: 20px;
          font-weight: 500;
        }

        @include mq('tablet', 'min') {
          font-size: 17px;
          line-height: 1.5;
        }

        a {
          color: $primary;
          font-weight: 400;
          border-bottom: 1px transparent;
          text-decoration: none;

          &:hover {
            background: rgba($primary, 0.1);
          }
        }
      }

      h2 {
        border-left: 5px solid $primary;
        padding-left: 10px;

        @include mq('tablet', 'min') {
          margin: 30px 0;
        }

        a {
          color: $black;

        }
      }

      h3 {
        border-left: 5px solid $primary;
        padding-left: 10px;

        @include mq('tablet', 'min') {
          margin: 20px 0;
        }
      }
    }
  }
}