.quickContact {
    // margin: 40px auto;
    display: block;
    border-radius: 10px;
    padding-bottom: 40px;
    // BOXSHADOW

    @include mq('tablet', 'min') {
        padding-bottom: 0;
        // box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.017), 0 6.7px 5.3px rgba(0, 0, 0, 0.024), 0 12.5px 10px rgba(0, 0, 0, 0.03), 0 22.3px 17.9px rgba(0, 0, 0, 0.036), 0 41.8px 33.4px rgba(0, 0, 0, 0.043), 0 100px 80px rgba(0, 0, 0, 0.06);
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include mq('tablet', 'min') {
            flex-direction: row;
        }
    }

    &-left {
        @include mq('tablet', 'min') {
            width: 30%;
        }

        svg {
            width: 50%;
            margin: -50px auto -70px auto;
            display: block;

            @include mq('tablet', 'min') {
                width: 70%;
                margin: 0 auto;
            }
        }
    }

    &-right {
        @include mq('tablet', 'min') {
            width: 50%;
        }

        h2 {
            color: $secondaryColor;
            letter-spacing: -2px;
            font-size: 30px;
            text-align: center;

            @include mq('tablet', 'min') {
                font-size: 40px;
                text-align: left;
            }
        }

        p {
            text-align: center;

            @include mq('tablet', 'min') {
                text-align: left;
            }
        }
    }

    &-form {
        margin-top: 1.5rem;
        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

            @include mq('tablet', 'min') {
                flex-direction: row;
            }

            input {
                width: 70%;
                min-height: 50px;
                border-radius: 5px;
                border: 0;
                background: rgba($primaryColor, 0.1);
                box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.05), 0 10px 10px -5px rgba(0, 0, 0, 0.01);
                font-size: 18px;
                color: $primaryColor;
                text-align: center;

                @include mq('tablet', 'min') {
                    width: calc(70% - 10px);
                    text-indent: 20px;
                    text-align: left;
                }
            }

            button {
                width: 70%;
                border: 0;
                min-height: 50px;
                cursor: pointer;
                box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.05), 0 10px 10px -5px rgba(0, 0, 0, 0.01);
                padding: 0;
                margin-top: 1rem;

                @include mq('tablet', 'min') {
                    width: calc(30% - 10px);
                    margin-top: 0;
                }
            }
        }
    }
}