@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");
// variables
$primaryColor: #00304d;
$secondaryColor: #fb3c54;
$grey: #75778B;
$lightBlue: #edf2f7;
$white: #fff;

// mixins
$breakpoints: (
  "phone": 480px,
  "650": 650px,
  "tablet": 768px,
  "tabletw": 992px,
  "desktop": 1200px,
  "wide": 1500px
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// hamburger menu
$hamburger-layer-width: 28px !default;
$hamburger-layer-height: 3px !default;
$hamburger-layer-border-radius: 3px !default;
$hamburger-padding-x: 10px;
$hamburger-padding-y: 0px;
$hamburger-active-layer-color: $secondaryColor;
$hamburger-layer-color: $primaryColor !default;
$hamburger-active-hover-opacity: 1;
$hamburger-types: (collapse);

@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";