// variables
$primaryColor: #00304d;
$secondaryColor: #fb3c54;
$thirdColor: #F8F7FC;
$grey: #75778B;
$lightBlue: #edf2f7;
$white: #fff;
$black: rgb(16, 16, 16);

// mixins
$breakpoints: (
  "phone": 480px,
  "650": 650px,
  "tablet": 768px,
  "tabletw": 992px,
  "desktop": 1200px,
  "wide": 1440px
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

$html-font-size: 16px;
@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

// hamburger menu
$hamburger-layer-width: 30px !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-border-radius: 3px !default;
$hamburger-padding-x: 5px;
$hamburger-padding-y: 0px;
$hamburger-active-layer-color: $secondaryColor;
$hamburger-layer-color: $primaryColor !default;
$hamburger-active-hover-opacity: 1;
$hamburger-types: (collapse);

@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.hamburger {
  margin-top: 6px;
}