.testimonials {

    h2 {
        font-family: 'marcinzogrodnik';
        text-align: center;
        padding: 50px 0;
        font-size: 50px;
        line-height: 50px;
        color: $secondaryColor;
    }

    &-content {
        display: flex;
        justify-content: space-between;
    }

    &-box {
        width: calc(50% - 20px);
        padding: 20px;
        color: $primaryColor;
        padding: 30px 40px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        border-radius: 4px;

        p {
            font-family: 'marcinzogrodnik';
            font-size: 18px;
            margin-bottom: 30px;

            &.author {
                color: $secondaryColor;
                text-align: right;
                margin-bottom: 0;

                span {
                    display: block;

                    a {
                        color: rgba($primaryColor, 0.6);

                        &:hover {
                            color: rgba($secondaryColor, 0.6);
                        }
                    }
                }
            }
        }
    }
}