.about {
    padding: 50px 0;

    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

        @include mq('tablet', 'min') {
            flex-direction: row;
        }
    }

    &-left {
        width: 100%;

        @include mq('tablet', 'min') {
            width: calc(40% - 20px);
        }
    }

    &-right {
        @include mq('tablet', 'min') {
            width: calc(60% - 20px);
        }
    }
}