.footer {
  padding-bottom: 2rem;
  p {
    font-size: 0.8rem;
  }

  .container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eaeaea;
    padding-top: 2rem;
    margin-top: 1rem;
  }

  &-box {
    width: calc(25% - 30px);

    .logo {
      display: flex;
      align-items: center;

      a {
        font-family: 'marcinzogrodnik';
        margin-left: 5px;
        font-size: 20px;
        color: $primaryColor;
        text-decoration: none;
        line-height: 1;
        margin-bottom: 8px;

        @include mq('tablet', 'min') {
          font-size: 23px;
          margin-left: 10px;
        }
      }

      svg {
        width: 20px;

        @include mq('tablet', 'min') {
          width: 25px;
        }

      }
    }

    .lead {
      margin-left: 2.3rem;
      font-size: 0.9rem;
    }

    .bold {
      font-size: 0.9rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    ul {
      margin: 0;
      list-style: none;

      li {
        margin-bottom: 5px;
        a {
          font-size: 0.9rem;
          color: $primaryColor;
          text-decoration: none;

          &:hover {
            color: $secondaryColor;
          }
        }
      }
    }
  }

}